.h2.text-center.mb-5#background
	| Опыт
#accordionExample.accordion
	.card.hoper
		#headingOne.card-header
			h5.mb-0
				button.btn.btn-link.text-left(type='button', data-toggle='collapse', data-target='#collapseOne', aria-expanded='false', aria-controls='collapseOne' class="new_exp__link--no-decoration")
					| 2012-2019
					| Фриланс
		#collapseOne.collapse.show(aria-labelledby='headingOne', data-parent='#accordionExample')
			.card-body.experience__card-body--style.text-left
				| Выполняла заказы на биржах. Cотрудничала с инфобизнесменами. Занималась партнерками, арбитражем трафика, спам-рассылками. Увлеклась рекламой и созданием сайтов. Сейчас выбрала направление - frontend. Учусь и практикую создавая сайты.
	.card.hoper
		#headingTwo.card-header
			h5.mb-0
				button.text-left.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo' class="new_exp__link--no-decoration")
					| 2014-2019
					| Краткосрочная аренда
		#collapseTwo.collapse(aria-labelledby='headingTwo', data-parent='#accordionExample')
			.card-body.text-left.experience__card-body--style
				ul
					li Организация предпринимательской деятельности в посуточной аренде с нуля
					li Сдача квартир в краткосрочную аренду
					li Проведение обучающих тренингов
	.card.hoper
		#headingThree.card-header
			h5.mb-0
				button.text-left.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseThree', aria-expanded='false', aria-controls='collapseThree' class="new_exp__link--no-decoration")
					| 2012-2014
					| Круизные лайнеры
		#collapseThree.collapse(aria-labelledby='headingThree', data-parent='#accordionExample')
			.card-body.text-left.experience__card-body--style
				ul.list-group.list-group-flush
					li.list-group-item
						.row
							.col-lg-2.col-md-2
								| 2013-2014г
							.col-lg-3.col-md-3
								a(href='https://stpeterline.com/', title='StPeterLine') LLC St.PeterLine
							.col-lg-7.col-md-7
								| Управляющая в магазине duty-free на пароме "Принцесса Анастасия"
					li.list-group-item
						.row
							.col-lg-2.col-md-2
								| 2012-2013г
							.col-lg-3.col-md-3
								a(href='https://www.starboardcruise.com/', title='StarBoardCruise') Starboard Cruise Services
							.col-lg-7.col-md-7
								| Продажи
	.card.hoper
		#headingFour.card-header
			h5.mb-0
				button.text-left.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseFour', aria-expanded='false', aria-controls='collapseFour' class="new_exp__link--no-decoration")
					| 2006-2012
					| Банк
		#collapseFour.collapse(aria-labelledby='headingFour', data-parent='#accordionExample')
			.card-body.text-left.experience__card-body--style
				ul.list-group.list-group-flush
					li.list-group-item
						.row
							.col-lg-2.col-md-2
								| 2010-2012г
							.col-lg-3.col-md-3
								a.card-link(href='https://danskebank.ru/ru/frontpage', title='ссылка на сайт данске банка')
									| Данске банк
							.col-lg-7.col-md-7
								| → Старший специалист по обслуживанию юридических лиц
								br
								| → Старший кассир
					li.list-group-item
						.row
							.col-lg-2.col-md-2
								| 2007-2010г
							.col-lg-3.col-md-3
								a.card-link(href='https://www.citibank.ru/russia/main/rus/home.htm', title='ссылка на сайт Ситибанка')
									| ЗАО КБ Ситибанк
							.col-lg-7.col-md-7
								| → Старший специалист по работе с клиентами-кассир
								br
								| → Специалист по работе с частными клиентами
								br
								| → Специалист отдела открытия счетов
					li.list-group-item
						.row
							.col-lg-2.col-md-2
								| 2006-2007г
							.col-lg-3.col-md-3
								a.card-link(href='https://www.rsb.ru/', title='ссылка на сайт банка') Русский Стандарт
							.col-lg-7.col-md-7
								| → Менеджер отдела развития торговых сетей
								br
								| → Менеджер по привлечению клиентов
