#background.h2.text-center.mb-5
	| Опыт
.container-fluid.mb-5
	#myAccordion.accordion(role='list')
		.card
			#heading4.text-left.font-weight-bold.btn.btn-link.text-info.collapsed.card-header(aria-controls='collapse4', aria-expanded='false', data-target='#collapse4', data-toggle='collapse', role='listitem')
				.mb-0
					| 2014-2019 Фриланс
			#collapse4.collapse(aria-labelledby='heading4', data-parent='#myAccordion')
				.card-body Научилась делать много разных полезных вещей: дизайн, создание сайтов, копирайтинг, реклама, вебинары и пр.
		.card
			#headingThree.text-left.font-weight-bold.btn.btn-link.text-info.collapsed.card-header(aria-controls='collapseThree', aria-expanded='false', data-target='#collapseThree', data-toggle='collapse', role='listitem')
				.mb-0
					| 2014-2018 Аренда
			#collapseThree.collapse(aria-labelledby='headingThree', data-parent='#myAccordion')
				.card-body
					ul.list-unstyled
						li.p-1 Организация предпринимательской деятельности в посуточной аренде с нуля
						li.p-1 Сдача квартир в краткосрочную аренду
						li.p-1 Проведение обучающих тренингов
		.card
			#heading5.text-left.font-weight-bold.btn.btn-link.text-info.collapsed.card-header(aria-controls='collapse5', aria-expanded='false', data-target='#collapse5', data-toggle='collapse', role='listitem')
				.mb-0
					| 2012-2014 Лайнеры
			#collapse5.collapse(aria-labelledby='heading5', data-parent='#myAccordion')
				.card-body
					| Работала на круизных лайнерах в сфере прямых продаж и сервиса
					ul.list-group.list-group-flush
						li.list-group-item
							.row
								.col-lg-2.col-md-2
									| 2013-2014г
								.col-lg-3.col-md-3
									a(href='https://stpeterline.com/', title='StPeterLine') LLC St.PeterLine
								.col-lg-7.col-md-7
									| Работала управляющей бутиком на пароме "Принцесса Анастасия"
						li.list-group-item
							.row
								.col-lg-2.col-md-2
									| 2012-2013г
								.col-lg-3.col-md-3
									a(href='https://www.starboardcruise.com/', title='StarBoardCruise') Starboard Cruise Services
								.col-lg-7.col-md-7
									| Продажи
		.card
			#heading6.text-left.font-weight-bold.btn.btn-link.text-info.collapsed.card-header(aria-controls='collapse6', aria-expanded='false', data-target='#collapse6', data-toggle='collapse', role='listitem')
				.mb-0
					| 2006-2012 Банк
			#collapse6.collapse(aria-labelledby='heading6', data-parent='#myAccordion')
				.card-body
					.card-title
					.card-text.text-justify
					| Работа в банке:
					ul.list-group.list-group-flush
						li.list-group-item
							.row
								.col-lg-2.col-md-2
									| 2010-2012г
								.col-lg-3.col-md-3
									a.card-link(href='https://danskebank.ru/ru/frontpage', title='ссылка на сайт данске банка')
										| Данске
										| банк
								.col-lg-7.col-md-7
									| Старший кассир
									br
									| 											→ Старший специалист по обслуживанию юридических лиц
						li.list-group-item
							.row
								.col-lg-2.col-md-2
									| 2007-2010г
								.col-lg-3.col-md-3
									a.card-link(href='https://www.citibank.ru/russia/main/rus/home.htm', title='ссылка на сайт Ситибанка')
										| ЗАО
										| КБ Ситибанк
								.col-lg-7.col-md-7
									| Специалист отдела открытия счетов
									br
									| 											→ Специалист по работе с частными клиентами
									br
									| 											→ Старший специалист по работе с клиентами-кассир
						li.list-group-item
							.row
								.col-lg-2.col-md-2
									| 2006-2007г
								.col-lg-3.col-md-3
									a.card-link(href='https://www.rsb.ru/', title='ссылка на сайт банка') Русский Стандарт
								.col-lg-7.col-md-7
									| Менеджер по привлечению клиентов
									br
									| 											→ Менеджер отдела развития торговых сетей
