.container-fluid.mb-5
		#contacts.h2.text-center.mb-5
			| Контакты
		.row.align-items-center.justify-content-center
			.col-auto
				.pic_round.mb-4.m-3.hello
			.col-auto
				ul.list-unstyled.text-left
					li.p-1.p-md-2.btn-info.m-2.btn
						a.text-white(href='https://t.me/adel_dubinnikova') Telegram
					li.p-1.p-md-2.btn-info.m-2.btn
						a.text-white(href='https://github.com/adelinyshka') GitHub
					li.p-1.p-md-2.btn-info.m-2.btn
						a.text-white(href='https://www.linkedin.com/in/adel-dubinnikova/') LinkedIn
					li.p-1.p-md-2.btn-info.m-2.btn
						a.text-white(href='https://vk.com/dubinnikova_adel') VK
