- var technology= 'Технологии: '
- var made_when= 'Дата создания: '

mixin sites(title, text, techno, made, srcs)

	.m-2
		.card.project__sites--card-style.m-2.hoper.projects__card-body--style
			.card-body
				h5.card-title= title
				p.card-text= text
			ul.list-group.list-group-flush.hoper
				li.list-group-item.hoper= technology+techno
				li.list-group-item.hoper= made_when+made
			.card-body.text-center
				a.card-link.btn.btn-info(href= srcs) Посмотреть сайт