include ./project__sites/project__sites.pug

.container-fluid.mb-5
	#project.h2.mb-5.text-center
		| Проекты
.responsive
	+sites('Обучение Госзакупкам','Сайт сделан на заказ с нуля, разработан мокап, дизайн, написан на HTML и CSS.','Сделан на чистом CSS', 'декабрь 2018','https://tender-start.ru/')
	+sites('Гостиница "Дуэт"', 'Создан с нуля, включая ТЗ, прототип, дизайн, верстку и функциональность.','Bootstrap, PHP, JavaScript, jQuery','февраль 2019', 'http://xn--78-mlcyny6e.xn--p1ai/' )
	+sites('Приют для животных', 'Благотворительный проект. Поддерживается и дорабатывается тк планируется большой сайт с форумом.','WebPack, Pug, Sass, БЭМ, Bootstrap', 'апрель 2019', 'http://chance-2.ru')
	+sites('Продажник для курса похудения', 'Сделан дизайн, верстка, добавлен счетчик.', 'WebPack, Pug, Sass, БЭМ, Bootstrap, JS', 'апрель 2019', 'http://www.pro-pohudeniye.ru/')
	+sites('Cеть апарт-отелей в Петербурге','Сделан прототип, дизайн, верстка, функциональность.', 'WebPack, Pug, Sass, БЭМ, Bootstrap, JS, Jquery', 'апрель 2019', 'http://dali-apart.ru/')