include ./project__sites/project__sites.pug

.container-fluid.mb-5
	#project.h2.mb-5.text-center
		| Проекты
.responsive
	+sites('Сайт для сети апарт-отелей в Петербурге','Сделан прототип, дизайн, верстка, функциональность.', 'WebPack, pug, Sass, БЭМ, Bootstrap, JavaScript, jQuery', 'апрель 2019', 'http://dali-apart.ru/')
	+sites('Сайт-продажник для курса похудения', 'Сделан дизайн, верстка, добавлен счетчик.', 'WebPack, Pug, Sass, БЭМ, Bootstrap, JavaScript', 'апрель 2019', 'http://www.pro-pohudeniye.ru/')
	+sites('Сайт для гостиницы в Петербурге', 'Создан с нуля, включая ТЗ, прототип, дизайн, верстку и функциональность.','Bootstrap, PHP, JavaScript, jQuery','февраль 2019', 'http://xn--78-mlcyny6e.xn--p1ai/' )
	+sites('Сайт приюта для животных в Петербурге', 'Благотворительный проект. Поддерживается и дорабатывается.','WebPack, Pug, Sass, БЭМ, Bootstrap', 'апрель 2019', 'http://chance-2.ru')

