.container-fluid.no_margin
	#study2.h2.text-center.mb-5
		| Курсы
	.row
		.col-xl-3.col-lg-4.col-md-6.col-sm-6.col-12.mb-4
			.card
				.card-body.text-center
					h5.card-title
						a.btn.btn-info(href='https://htmlacademy.ru/program', title='курсы от HTML Academy')
							| HTML
							| Academy
					.card-text
						| Общая программа курсов
		.col-xl-3.col-lg-4.col-md-6.col-sm-6.col-12.mb-4
			.card
				.card-body.text-center
					h5.card-title
						a.btn.btn-info(href='https://srs.myrusakov.ru/joomla#o-course', title='курс Касьянова по Joomla')
							| Олег
							| Касьянов
					.card-text
						| Joomla 3 с Нуля до Гуру
		.col-xl-3.col-lg-4.col-md-6.col-sm-6.col-12.mb-4
			.card
				.card-body.text-center
					h5.card-title
						a.btn.btn-info(href='https://www.linkedin.com/learning/bootstrap-4-essential-training', title='Lynda') Lynda
					.card-text
						| Bootstrap 4 Essential Training
		.col-xl-3.col-lg-4.col-md-6.col-sm-6.col-12.mb-4
			.card
				.card-body.text-center
					h5.card-title
						a.btn.btn-info(href='https://ru.hexlet.io/professions/frontend', title='Hexlet') Hexlet
					.card-text
						| Фронтенд JS-программист
		.col-xl-3.col-lg-4.col-md-6.col-sm-6.col-12.mb-4
			.card
				.card-body.text-center
					h5.card-title
						a.btn.btn-info(href='https://www.coursera.org/specializations/razrabotka-interfeysov', title='сайт Coursera') Coursera
					.cart
						| Разработчик интерфейсов
		.col-xl-3.col-lg-4.col-md-6.col-sm-6.col-12.mb-4
			.card
				.card-body.text-center
					h5.card-title
						a.btn.btn-info(href='https://www.fullstack-development.com/#system', title='курсы от FSD') FSD
					.card-text
						| FrontEnd
