.container-fluid.mb-5.no_margin
	#specail.h2.text-center.mb-5
		| Навыки
	.row.no_margin.mb-2.text-left.special_text_size
		.shadow-sm.border.m-1.col-auto.pl-2.pr-2
			| БЭМ
		.shadow-sm.border.m-1.col-auto.pl-4.pr-4
			| Bash
		.shadow-sm.border.m-1.col-auto.pl-4.pr-4
			| Bootstrap4
		.shadow-sm.border.col-auto.pl-4.pr-4.m-1
			| CLI
		.shadow-sm.border.m-1.col-auto.pl-4.pr-4
			| English
		.shadow-sm.border.m-1.col-auto.pl-4.pr-4
			| GIT
		.shadow-sm.border.m-1.col-auto.pl-4.pr-4
			| HTML5/CSS3
		.shadow-sm.border.m-1.col-auto.pl-4.pr-4
			| JavaScript/jQuery
			span.special_color_star
				sup *
		.shadow-sm.border.m-1.col-auto.pl-4.pr-4pl-4.pr-4
			| Joomla3
		.shadow-sm.border.m-1.col-auto.pl-4.pr-4
			| Photoshop/Figma
		.shadow-sm.border.m-1.col-auto.pl-4.pr-4
			| PHP
			span.special_color_star
				sup *
		.shadow-sm.border.m-1.col-auto.pl-4.pr-4
			| PUG(Jade)
		.shadow-sm.border.m-1.col-auto.pl-4.pr-4
			| Sass
			span.special_color_star
		.shadow-sm.border.m-1.col-auto.pl-4.pr-4
			| SEO
			span.special_color_star
				sup *
		.shadow-sm.border.m-1.col-auto.pl-4.pr-4
			| UI/UX
			span.special_color_star
				sup *
		.shadow-sm.border.m-1.col-auto.pl-4.pr-4
			| WebPack
	div
		span.special_color_star.pl-2
			b *
		|  =
		span.badge.badge-light.badge-pill
			| в процессе
			| изучения
