include skill
.container-fluid.mb-5.no_margin
	#specail.h2.text-center.mb-5
		| Навыки
	.row.no_margin.mb-2.text-left.special_text_size
		+skill('БЭМ')
		+skill('Bootstrap')
		+skill('CLI')
		+skill('CSS')
		+skill('Figma')
		+skill('GIT')
		+skill('HTML')
		+skill('JavaScript')
		+skill('Joomla')
		+skill('Photoshop')
		+skill('PHP')
		+skill('PUG')
		+skill('Sass')
		+skill('SEO')
		+skill('UI/UX')
		+skill('WebPack')
		+skill('WordPress')
