extends ./blocks/template/template.pug
block content
	include ./blocks/header/header.pug
	.m-sm-5.m-3
		include ./blocks/projects/projects.pug
		include ./blocks/skills/skills.pug
		include ./blocks/experience/experience.pug
		include ./blocks/education/education.pug
		include ./blocks/courses/courses.pug
		include ./blocks/contacts/contacts.pug
		include ./blocks/footer/footer.pug