header
	nav.navbar.navbar-expand-lg.navbar-light.bg-light.mb-5.header
		.container
			.navbar-brand.text-info Адель Дубинникова
			button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
				span.navbar-toggler-icon
			#navbarNavAltMarkup.collapse.navbar-collapse
				.navbar-nav.justify-content-end.w-100
					a.nav-item.nav-link(href='#project') Проекты
					a.nav-item.nav-link(href='#specail') Навыки
					a.nav-item.nav-link(href='#background') Опыт
					a.nav-item.nav-link(href='#study') Образование
					a.nav-item.nav-link(href='#study2') Курсы
					a.nav-item.nav-link(href='#contacts') Контакты